* {
	list-style: none;
	font-family: "Raleway";

	box-sizing: border-box;
	max-width: 1400px;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	overflow: hidden;
	left: 4%;
	display: flex;

	background: #FFFFFF;
}

/************************************/
/*				HEADER				*/
/************************************/

/* 				NAVBAR				*/

.head {
	display: block;
}

.navbar {
	width: 100%;
	position: absolute;
	top: 0;
}

.navbar .inner_navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	height: 130px;
}

.navbar .menu {
	position: relative;
	display: flex;
	align-items: center;

	height: 100%;
	padding-right: 100px;
	padding-left: 50px;
}

.navbar .menu a {
	height: 100%;
	text-decoration: none;

	padding: 20px;

	/* background: red; */
	transition: 0.3s;
	border-top: 2px solid white;
}

.navbar .menu div {
	position: relative;
	top: 35px;
	text-decoration: none;
	color: rgb(0, 0, 0);
	transition: 0.2s;
}

.navbar .menu a:hover div,
.navbar .menu a:target div {
	color: #0065FC;
}

.navbar .menu a:target,
.navbar .menu div:target {
	border-color: #0065FC;
}

/* 				LOGO				*/

.head_set_logo {
	display: flex;
	justify-content: flex-start;
}

.logo_image {
	width: 61.09px;
	height: 19px;
}

/* 				TITLE				*/

.description {
	position: absolute;

	font-style: normal;
	font-size: 12px;
	font-weight: 700;

	width: 100%;
	margin-top: 1px;
	top: 140px;

	color: black;
}

.description .s_title {
	font-weight: 400;
	margin-top: 10px;
	font-size: large;
}

/* 				SEARCH				*/

.search {
	position: absolute;

	top: 220px;
}

.search .loc_bar {
	position: absolute;
	z-index: 1;
	display: flex;

	width: 50px;
	height: 49px;

	/* SVG LOGO */
	vertical-align: middle;
	align-items: center;
	justify-content: center;

	background: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 15px 0px 0px 15px;
}

.search .s_type {
	position: relative;

	border: 1px solid #F2F2F2;
	border-radius: 15px;

	width: 332px;
	height: 49px;
	padding-left: 70px;
	padding-right: 30px;

	font-size: large;
	font-weight: 600;
	transition: 0.1s;
}

.search .s_type:focus {
	border: 2px solid #F2F2F2;
	outline: none;
}

.search .sub {
	position: absolute;

	font-family: "Raleway";
	font-weight: 700;
	font-size: 18px;

	margin-left: -15px;

	height: 49px;
	width: 150px;

	line-height: 21px;
	text-align: center;

	border: 0px;
	border-radius: 0px 15px 15px 0px;

	color: white;
	background: #0065FC;
	cursor: pointer;
}

/* 				FILTER				*/

.filter {
	position: absolute;
	display: flex;
	flex-wrap: wrap;

	top: 280px;
	height: 50px;
	left: 10px;

	align-items: center;

	font-weight: 700;
}

.filter .b_eco {
	display: flex;
	border: 2px solid #D9D9D9;
	border-radius: 25px;

	padding-left: 20px;
	padding-right: 20px;
	margin-left: 40px;

	padding: 15px;
	margin: 15px;
	
	text-decoration: none;

	align-items: center;

	transition: 0.5s;
}

.filter .b_eco:hover {
	background-color: #DEEBFF;
}

.filter .t_filter {
	padding-left: 15px;
}

/* 				INFO				*/

.info {
	position: absolute;
	display: flex;
	top: 370px;

	/* SVG LOGO */
	vertical-align: middle;
	align-items: center;
	justify-content: center;

	color: black;
}

.info p {
	margin-left: 15px;
}

/************************************/
/*				HOUSING				*/
/************************************/








/************************************/
/*				ACTIVITIES			*/
/************************************/

/************************************/
/*				FOOTER				*/
/************************************/