* {
	list-style: none;
	font-family: "Raleway";

	box-sizing: border-box;
	max-width: 1400px;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	overflow-x: hidden;
	left: 4%;
	margin-right: 2%;
	height: 100%;

	background: #FFFFFF;
}

/* ================================= */
/* =========== SCROLLBAR =========== */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #F2F2F2; 
}

::-webkit-scrollbar-thumb {
	background: #888; 
}

::-webkit-scrollbar-thumb:hover {
	background: #555; 
}


/* ============================== */
/* =========== HEADER =========== */
/* =========== NAVBAR =========== */

.head {
	display: block;
	width: 100%;
}

.navbar {
	width: 100%;
	position: relative;
	top: 0;
}

.navbar .inner_navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	height: 130px;
}

.navbar .menu {
	position: relative;
	display: flex;

	align-items: center;

	height: 100%;
	padding-right: 100px;
	padding-left: 50px;
}

.navbar .menu a {
	height: 100%;
	text-decoration: none;

	padding: 20px;

	transition: 0.3s;
	border-top: 2px solid white;
}

.navbar .menu div {
	position: relative;

	top: 35px;

	text-decoration: none;
	color: rgb(0, 0, 0);
	transition: 0.2s;
}

.navbar .menu a:hover div {
	color: #0065FC;
}

.navbar .menu a:hover {
	border-color: #0065FC;
}

/* ============================ */
/* =========== LOGO =========== */

.head_set_logo {
	display: flex;
	justify-content: flex-start;
}

.logo_image {
	width: 61.09px;
	height: 19px;
}

/* ============================= */
/* =========== TITLE =========== */

.description {
	font-style: normal;
	font-size: 12px;
	font-weight: 700;

	width: 94%;

	margin-top: 1px;
	margin-right: 5%;
	margin-bottom: 20px;
	top: auto;

	color: black;
}

.description .s_title {
	font-weight: 400;
	font-size: large;

	margin-top: 10px;
}

/* ============================== */
/* =========== SEARCH =========== */

.search {
	position: relative;
	display: block;
}

.search .loc_bar {
	position: absolute;
	z-index: 1;
	display: flex;

	width: 50px;
	height: 49px;

	/* SVG LOGO */
	vertical-align: middle;
	align-items: center;
	justify-content: center;

	background: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 15px 0px 0px 15px;
}

.search .s_type {
	position: relative;

	border: 1px solid #F2F2F2;
	border-radius: 15px;

	width: 332px;
	height: 49px;
	padding-left: 70px;
	padding-right: 30px;

	font-size: large;
	font-weight: 600;
	transition: 0.1s;
}

.search .s_type:focus {
	border: 2px solid #F2F2F2;
	outline: none;
}

.search .sub {
	position: relative;

	font-family: "Raleway";
	font-weight: 700;
	font-size: 18px;

	margin-left: -30px;
	height: 49px;
	width: 150px;

	line-height: 21px;
	text-align: center;

	border: 0px;
	border-radius: 0px 15px 15px 0px;

	color: white;
	background: #0065FC;
	cursor: pointer;
}

.search .sub svg {
	position: absolute;
	display: none;

	width: 17px;
	height: 17px;

	top: 16px;
	left: 16px;

	color: white;
}

/* ============================== */
/* =========== FILTER =========== */

.filter {
	position: relative;
	display: block;

	align-items: flex-end;
	font-weight: 700;

	margin-bottom: 25px;
}

.filter .f_title {
	position: relative;
	display: flex;
	top: 50px;
}

.filter .box_f {
	position: relative;
	display: flex;
	flex-wrap: wrap;

	left: 80px;
}

.filter .b_eco {
	display: flex;
	border: 2px solid #D9D9D9;
	border-radius: 25px;

	padding: 15px;
	height: 50px;

	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 15px;

	text-decoration: none;
	align-items: center;

	color: #000000;

	transition: 0.5s;
}

.filter .b_eco:hover {
	background-color: #DEEBFF;
}

.filter .f_logo {
	padding-left: 15px;
}

/* ============================ */
/* =========== INFO =========== */

.info {
	position: relative;
	display: flex;

	width: 94%;
	margin-bottom: 39px;

	align-items: center;
	color: black;
}

.info p {
	margin-left: 35px;
}

.info svg {
	position: absolute;
}

/* =============================== */
/* =========== HOUSING =========== */

.housing {
	position: relative;

	width: 62.8%;
	height: 630px;

	background: #F2F2F2;
	border-radius: 20px;

	padding-top: 40px;
}

.housing .title {
	padding-left: 40px;
}

.housing .box_h {
	position: absolute;
	display: flex;

	flex-wrap: wrap;
	overflow: hidden;

	height: 500px;

	margin: 20px;
	margin-top: 0px;
	justify-content: space-around;
}

.housing .house {
	position: relative;
	top: 30px;

	margin-bottom: 30px;

	width: 29%;
	height: 199px;

	background: white;
	border-radius: 20px;

	box-shadow: 2px 2px 20px rgb(209, 209, 209);
	text-decoration: none;

	transition: box-shadow 0.2s;
}

.housing .house:hover{
	box-shadow: 2px 2px 20px rgb(172, 172, 172);
}

.housing .house_img {
	box-sizing: border-box;
	object-fit: cover;

	width: 100%;
	height: 65%;
	bottom: 37.69%;

	border: 5px solid #FFFFFF;
	border-radius: 20px 20px 0px 0px;
}

.housing .pad {
	padding-left: 16px;
	color: black;
}

.housing .h_title {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;

	padding-bottom: 1%;
	margin-right: 5px;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.housing .price {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;

	padding-bottom: 1%;
}

.housing .more {
	position: absolute;
	display: flex;
	justify-content: flex-start;

	bottom: 6%;
	left: 40px;

	font-weight: 700;
	font-size: 18px;

	color: #000000;
	text-decoration: none;
}

.title {
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;

	position: relative;
}

/* =============================== */
/* =========== POPULAR =========== */

.most_polular {
	position: relative;
	display: block;
	flex-wrap: wrap;

	left: 65%;
	margin-top: -630px;

	width: 30%;
	height: 630px;

	background: #F2F2F2;
	border-radius: 20px;

	padding-left: 40px;
	padding-top: 40px;
}

.most_polular .box_p {
	display: flex;
	flex-wrap: wrap;

	height: 500px;
	margin-top: 55px;
}

.most_polular .title {
	width: 78%;
	height: 30px;
}

.most_polular .svg_tr {
	position: absolute;
	right: 12%;
	top: 46px;
}

.most_polular .most_p {
	position: relative;

	top: -29px;

	width: 88%;
	height: 144px;

	background: white;
	border-radius: 20px;

	box-shadow: 2px 2px 20px rgb(209, 209, 209);
	text-decoration: none;

	transition: box-shadow 0.2s;
}

.most_polular .most_p:hover{
	box-shadow: 2px 2px 20px rgb(172, 172, 172);
}


.most_polular .polular_img {
	box-sizing: border-box;
	object-fit: cover;

	width: 45%;
	height: 100%;

	border: 5px solid #FFFFFF;
	border-radius: 20px 0px 0px 20px;
}

.most_polular .pad {
	margin-left: 50%;
	margin-right: 1%;

	height: 100%;
	color: black;
}

.most_polular .h_title {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;

	overflow: hidden;

	padding-bottom: 1%;
	margin-top: -130px;
	margin-bottom: 1%;
	margin-right: 5px;

}

.most_polular .price {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	margin-right: 5px;
}

.most_polular .stars {
	position: absolute;

	bottom: 10px;
}


/* ================================== */
/* =========== ACTIVITIES =========== */

.activities {
	position: relative;
	display: block;
	flex-wrap: wrap;

	width: 95%;
	height: 550px;
}

.activities .title {
	top: 60px;
}

.activities .box {
	position: absolute;
	display: flex;

	height: 100%;
	width: 100%;

	justify-content: space-between;
}

.activities .act_box {
	position: relative;
	top: 80px;

	width: 23%;
	height: 90%;

	background: white;
	color: #000000;
	border-radius: 20px;

	box-shadow: 2px 2px 15px rgb(228, 228, 228);
	text-decoration: none;

	transition: box-shadow 0.2s;
}

.activities .act_box:hover {
	box-shadow: 2px 2px 15px rgb(160, 160, 160);
}

.activities .act_img {
	box-sizing: border-box;
	object-fit: cover;

	width: 100%;
	height: 88%;

	border-radius: 20px 20px 0px 0px;
}

.activities .act_name {
	font-weight: 700;
	font-size: 16px;
	justify-content: center;

	padding-left: 19px;
	margin: 5% 0;
}

/* ============================== */
/* =========== FOOTER =========== */

.foot {
	position: relative;
	display: flex;

	justify-content: space-between;
	padding-top: 50px;
	padding-left: 5%;
	padding-right: 25%;
	margin-top: 100px;

	width: 95%;
	height: 255px;

	background: #F2F2F2;
	
}

.foot .box {
	margin-right: 25%;
}

.foot .box .t_foot {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;

	margin-bottom: 15px;
	
}

.foot .box a {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;

	margin-left: 19px;

	color: #000000;
}

.foot .box p {
	margin-bottom: -7px;
}

/* ========================== */
/* =========== PC =========== */

@media screen and (min-width: 992px) {
	.most_polular .h_title {
		max-height: 55px;
	}
}

/* =========================== */
/* =========== TAB =========== */


@media screen and (max-width: 992px)
{
	.most_polular {
		top: 0px;
		left: 0px;
		width: 95%;
		height: 300px;

		margin-top: 40px;
	}

	.most_polular .svg_tr {
		right: 5%;
	}

	.most_polular .most_p {
		width: 30%;

		margin-right: 20px;
		left: 0px;
	}

	.most_polular .h_title {
		font-size: 14px;
		margin-top: -138px;
	}

	.most_polular .price {
		font-size: 12px;
	}

	.most_polular .stars {	
		bottom: 5px;
	}

	.housing {
		width: 95%;
	}

	.activities {
		height: 323px;
	}

	.activities .act_img {
		height: 80%;
	}
}

/* ============================== */
/* =========== MOBILE =========== */

@media screen and (max-width: 768px) {

	body {
		left: 0;
		margin-right: 0;
	}

	.navbar {
		margin-bottom: 40px;
	}

	.navbar .inner_navbar {
		display: block;
	
		height: 100px;
		margin-top: 30px;
	}

	.navbar .menu {
		position: relative;
		display: flex;
	
		padding: 0;
	
		width: 100%;
	}

	.navbar .menu a {
		width: 100%;
		height: 80%;
	
		padding: 0px;
	
		border-top: 0px solid white;
		border-bottom: 4px solid #F2F2F2;
	}

	.navbar .menu div {	
		text-align: center;

		font-size: 18px;
	}

	.head_set_logo {
		justify-content: center;
	}

	.description {
		margin-left: 3%;
	}

	.search {
		margin-left: 3%;
	}

	.search .s_type {
		width: 90%;
		padding-right: 40px;
	}

	.search .sub {
		width: 49px;
		height: 49px;

		color: #0065FC;
		font-size: 0px;

		flex-wrap: nowrap;
		top: -7px;
	}

	.search .sub svg {
		display: flex;
	}

	.filter {
		margin-top: 25px;
		margin-left: 3%;
		font-size: 20px;
	}

	.filter .f_title {
		width: 100%;
		top: 0px;
	}

	.filter .box_f {
		left: 0px;
		font-size: 11px;
	}

	.filter .b_eco {
		width: 45%;
	}

	.info {
		margin-left: 4%;
	}

	.housing {
		width: 100%;
		margin-top: 640px;
		height: 640px;

		border-radius: 0px;
		background-color: white;
	}

	.housing .title {
		padding-left: 25px;
		margin-top: 50px;
	}

	.housing .box_h {
		height: max-content;
		width: 100%;
		margin: 0;
		overflow: visible;
	}

	.housing .house {
		width: 90%;
	}
	
	.housing .more {
		display: none;
	}

	.most_polular {
		width: 100%;
		margin-top: -1230px;
		border-radius: 0px;
	
		height: auto;
	}

	.most_polular .box_p {
		display: flex;
		flex-wrap: wrap;
	
		height: 500px;
		margin-top: 55px;
	}

	.most_polular .title, .most_p {
		margin-left: -3%;
	}

	.most_polular .most_p {
		width: 100%;
	}

	.most_polular .h_title {
		padding-top: 8px;
		font-size: 16px;
	}

	.most_polular .price {
		font-size: 14px;
	}

	.activities {
		top: 1500px;

		height: 199px;
		width: 100%;
	}

	.activities .title {
		width: 150px;
		margin-left: 25px;
		margin-bottom: -40px;
	}

	.activities .act_box {
		width: 90%;
	
		display: flex;
		flex-wrap: wrap;

		margin: 25px;
	}

	.activities .box {
		display: unset;
		width: 100%;
	}

	.activities .act_img {
		height: 70%;
	}

	.activities .act_name {
		margin: 0;
	}

	.foot {
		top: 2175px;
		display: block;

		height: 470px;
		width: 100%;
	}

	.foot .box {
		width: 100%;
		margin-left: 10px;
		margin-bottom: 50px;
	}

	.foot .box .t_foot {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}